<h1>Save any kind of movies</h1>

<h3>My Lists</h3>

<!-- Link to create a movie list -->
<%= link_to "Create a movie list", new_list_path, class: "btn btn-flat" %>

<!-- Show lists -->
<% @lists.each do |list| %>
  <%= link_to list_path(list) do %>
    <%= list.name %>
  <% end %>
<% end %>
